/* 
    Document   : app
    Created on : 10 août 2011, 22:41:30
    Author     : kaba
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* FLEXGRID */

@import "style.css";
@import "flexigrid/flexigrid.css";
@import "dataTables/table_jui.css";
@import "dataTables/jquery-ui-1.8.4.custom.css";
@import "thickbox/thickbox.css";

.delete {
	margin-top:30px;
	float:left;
	margin-left:30px;
}
a.delete {
	padding:3px;
	text-align:center;
	font-size:18px;
	font-weight:700;
	text-decoration:none;
	color:#C00;
}
a.delete:hover {
	background-color:#900;
	color:#FFF;
}