/* 
    Document   : app
    Created on : 10 août 2011, 22:41:30
    Author     : kaba
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* FLEXGRID */

@import "style.css";
@import "dataTables/table_jui.css";
/*@import "dataTables/jquery.dataTables.css";*/
@import "../../js/assets/datatables/media/css/jquery.dataTables.min.css";
/*@import "../../js/assets/datatables/media/css/jquery.dataTables_themeroller.css";*/

@import "../../js/assets/jquery-ui/themes/base/all.css";
/*@import "../../js/assets/bootstrap/dist/css/bootstrap.min.css";*/
/*@import "../../js/assets/bootstrap/dist/css/bootstrap-theme.min.css";*/
@import "../../js/assets/datatables-bootstrap3/BS3/assets/css/datatables.css";
