/* 
    Document   : app
    Created on : 10 août 2011, 22:41:30
    Author     : kaba
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* FLEXGRID */

@import "style.css";
@import "flexigrid/flexigrid.css";
@import "jquery/jquery.lightbox.css";

@import "dataTables/table.css";
@import "dataTables/TableTools.css";
@import "dataTables/table_jui.css";
@import "dataTables/jquery.dataTables.css";
@import "dataTables/jquery-ui-1.8.4.custom.css";
@import "dataTables/TableTools_JUI.css";
