/* 
    Document   : common.css
    Created on : 26 nov. 2012, 11:45:43
    Author     : knfaly
    Description:
        Purpose of the stylesheet follows.
*/


.popupManual{
    display: none;
}

#medias-list {
    /*    overflow-y: scroll;*/
    margin: 10px;
    margin-bottom: 15px;
}
.media{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 5px; 
    width: 100px;
    height: 150px;
    padding: 10px;
    background-color: #D8D8D8;
    word-wrap: break-word;

}
.prev, .next{
    margin: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
div#mediaPanel{
    min-height: 150px;
    float: left;
    padding-left: 15px;
    padding-bottom: 15px;    
}
div#prevNext{
    width: 105px;
    clear: both;
    float:left;
    height: 15px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 20px;
    background-color: #FF8000;
    float:left;

}

.mediaName {
    width: 250px;
}

#formName{
    font-weight: bold;
}

.navPanel{
    background-color: white;
}


.media{
    padding: 5px;
}


div#page{
    text-align: center;
    width: 100px;
    height: 15px;
    margin-left: 30px;
}


/* For tooltip */

#popupContainer
{
    position:absolute;
    left:0;
    top:0;
    display:none;
    min-width: 100px;
    z-index: 20000;
    border: solid 1px #5F6565;
/*    max-height: 600px;
    overflow-y: scroll;*/
}
#popupContent{
    background-color: white;
}

#popupContent caption, caption{
    background-color: #5F6565;
    color: white;
    font-weight: bold;
}

.productBody{
    background-color:  #D8D8D8;
    border: solid 1px #5F6565;
}