<script type="text/javascript">
    $(document).ready(function() {
        $('#form').submit( function() {
            var sData = $('input', oTable.fnGetNodes()).serialize();
            alert( "The following data would have been submitted to the server: \n\n"+sData );
            return false;
        } );
        var oTable = $('#tableContent').dataTable({
            "bJQueryUI": true,
            "bSortClasses": false,
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "sAjaxSource": "LINK",
            "aoColumns": [
                {"mDataProp": "nom" },
                {"mDataProp": "type_contrat"},
                {"mDataProp": "adresse"},
                {"mDataProp": "code_postal"},
                {"mDataProp": "idasecurite_ville"},
                {"mDataProp": "telephone"},
                {"mDataProp": "date_debut_contrat"},
                {"mDataProp": "date_fin_contrat"},
                {"mDataProp": "operation"}
                    
            ]
        });
        
        $('td', oTable.fnGetNodes()).hover( function() {
            var iCol = $('td').index(this) % 5;
            var nTrs = oTable.fnGetNodes();
            $('td:nth-child('+(iCol+1)+')', nTrs).addClass( 'highlighted' );
        }, function() {
            $('td.highlighted', oTable.fnGetNodes()).removeClass('highlighted');
        } );
          
    } );
</script>
<body class="ex_highlight">
    <form id="form">
        <div id="dynamic">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="tableContent">
                <thead>
                    <tr>
                        <th width="15%">Agent</th>
                        <th width="10%">Type de contrat</th>
                        <th width="16%">Adresse</th>
                        <th width="10%">Code postal</th>
                        <th width="10%">Ville</th>
                        <th width="12%">Téléphone</th>
                        <th width="12%">Date de début de contrat</th>
                        <th width="12%">Date de fin de contrat</th>
                        <th>Opérations</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>                
            </table>
        </div>
    </form>
</body>